body {
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}
p {
  text-align: center;
}

img {
  display: block;
  max-width: 80%;
  margin: 30px auto;
}

.footer-links {
  text-align: center;
  margin: 30px;
}

.contact {
  margin-top: 20px;
  padding-bottom: 15px;
}
